.hero {
    width: 100%;
    background: $color-green-56;
    position: relative;
    display: flex;
 &::before {
    @include baImages (10rem,20rem,url(../../images/hero-left-img.png));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
 }
 & .container {
    position: relative;
 }
 &-logo {
    margin-right: 8rem;
 }
 & .btn--white {
    margin-left: auto;
 }
 &__top {
    padding-top: 7.3rem;
    &::after {
      @include baImages (35.8rem,10rem,url(../../images/hero-right-img.png));
      position: absolute;
      bottom: 0;
      right: 0;
    }
 }

&__texts {
    margin-top: 12.9rem;
    padding-bottom: 25rem;
    display: flex;

    position: relative;
 &__right {
    display: flex;
    margin-left: auto;
 }
 &__title {
    width: 60.5rem;
    font-weight: bold;
    font-size: 100px;
    line-height: 100px;
    color: $color-white;

    margin: 0;
 }
 &__text {
    width: 44.5rem;
    @include text18;
    color: $color-white;
    display: flex;

    align-items: flex-end;
    &::before {
      @include baElements (5rem,4px) ;
      background: $color-blue-c7;
      position: absolute;
      top: 0;
    }
   
  }
  &__span {
     color: $color-light-7e;
  }
 }
}




