.hero__list {
    display: flex;
    @include respond (phone) {
       display: none;
    }
 &__item {
    list-style: none;
    margin-right: 40px;
    &.tablet {
      @include respond (tab-port) {
         margin-top: 5.3rem;
      }
    }
 }
 &__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-white;
    align-items: center;
    &:active {
        color: $color-light-7e;
    }
 }
}
.footer__list {
   @include respond (phone) {
      display: block;
      display: flex;
      justify-content: center;
      margin-left: 4rem;
  }
  &__link {
   @include respond (phone) {
      
      font-style: normal;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: $color-white;
   }
  }
}

// HERO2

.hero2__list {
    display: flex;
 &__item {
    list-style: none;
    margin-right: 40px;
 }
 &__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-white;
    align-items: center;
    &:active {
        color: $color-light-7e;
    }
 }
}

